<link rel="import" href="<%= pathToBower %>/polymer/polymer.html">

<dom-module id="<%= elementName %>">
    <link rel="import" type="css" href="<%= elementName %>.css">

    <template>
        <div>Hello from <span>{{ foo }}</span></div>
    </template>

    <script>
        (function() {

            Polymer({
                is: '<%= elementName %>',

                properties: {
                    foo: {
                        type: String,
                        value: 'bar',
                        notify: true
                    }
                }
            });

        })();
    </script>
</dom-module>
